$sidebar-width: 210px;
$menu-speed: 300ms;

img {
  max-width: 100%;
}

td.image img {
  max-width: 50px;
}

span#sidebar-toggle {
  display: none;
}

#sidebar-toggle {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: 15px;
}

#main-sidebar {
  width:  $sidebar-width ;
  overflow-y: scroll;
  top: 51px;
}


#main-part {
  padding-left: $sidebar-width + 35;
}

div#main-part, div#main-sidebar, body {
  background-color: #f9fafb;
}

div#content {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  overflow-x: scroll;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #555555 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #ddd;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #555;
}

div#test p:first-child {
  text-decoration: underline;
}
div#test p:last-child {
  color: red;
}

table#listing_orders tr {
  height: 48px;
}

div.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.pagination {
  margin: 0;
}

.page-header {
    margin: 40px -15px 20px;
}

@media (max-width: 767px) {

      span#sidebar-toggle {
      display: block;
      left: 15px;
      }
      .navbar-header {
        width: 100%
      }

      a.logo.navbar-brand {
        float: right;
        padding: 5px 0;
      }

      .col-xs-3.sidebar { width: 100%;}
      .navbar-right {display: none;}

      div#main-sidebar {
      width: 100% ;

      -webkit-transition: all $menu-speed ease;
      -moz-transition: all $menu-speed ease;
      -o-transition: all $menu-speed ease;
      -ms-transition: all $menu-speed ease;
      transition: all $menu-speed ease;
      left: -100%;
      }

      body.sidebar-opened div#main-sidebar {
      width:  100% ;

      -webkit-transition: all $menu-speed ease;
      -moz-transition: all $menu-speed ease;
      -o-transition: all $menu-speed ease;
      -ms-transition: all $menu-speed ease;
      transition: all $menu-speed ease;
      left: 0;
      overflow-y: scroll;
      }




      body.sidebar-opened #sidebar-toggle span:nth-child(1) {
        -webkit-transition: all $menu-speed ease;
        -moz-transition: all $menu-speed ease;
        -o-transition: all $menu-speed ease;
        -ms-transition: all $menu-speed ease;
        transition: all $menu-speed ease;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
      }


      body.sidebar-opened #sidebar-toggle span:nth-child(2) {
        position: absolute;
        -webkit-transition: all 200ms ;
        -moz-transition: all 200ms ;
        -o-transition: all 200ms ;
        -ms-transition: all 200ms ;
        transition: all 200ms ;
        background-color: transparent;
      }

      body.sidebar-opened #sidebar-toggle span:nth-child(3) {
        -webkit-transition: all $menu-speed ease;
        -moz-transition: all $menu-speed ease;
        -o-transition: all $menu-speed ease;
        -ms-transition: all $menu-speed ease;
        transition: all $menu-speed ease;
        transform: rotate(-45deg);
        position: absolute;
        top: 6px;
      }


      #sidebar-toggle span:nth-child(1) {
        -webkit-transition: all $menu-speed ease;
        -moz-transition: all $menu-speed ease;
        -o-transition: all $menu-speed ease;
        -ms-transition: all $menu-speed ease;
        transition: all $menu-speed ease;
        transform: rotate(0deg);


      }


      #sidebar-toggle span:nth-child(2) {
        -webkit-transition: all 200ms ;
        -moz-transition: all 200ms ;
        -o-transition: all 200ms ;
        -ms-transition: all 200ms ;
        transition: all 200ms ;
        background-color: #555;

      }

      #sidebar-toggle span:nth-child(3) {
        -webkit-transition: all $menu-speed ease;
        -moz-transition: all $menu-speed ease;
        -o-transition: all $menu-speed ease;
        -ms-transition: all $menu-speed ease;
        transition: all $menu-speed ease;
        transform: rotate(0deg);


      }


      #main-part {
        padding-left: 35px;
      }

      span.icon-filter {
        display: none;
      }

      #main-sidebar ul.nav.nav-pills li a {
        padding: 15px;
        font-size: 12px;
      }
}
